<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<script>
		let doLogin = () => {
			let mail = document.getElementById('mail').value;
			let password = document.getElementById('password').value;
			let data = { mail, password };
			let response = fetch('/users/login', {
				method: 'POST', // or 'PUT'
				headers: {
				'Content-Type': 'application/json',
				},
				body: JSON.stringify(data),
      			})
				.then((response) => response.json())
				.then((data) => {
					return data;
					//console.log("Success:", data);
				})
				.catch((error) => {
					console.error("Error:", error);
				});

				if(response.status =='ok'){
					location='/';
				}else if(typeof mail == undefined || !mail && 
						typeof password == undefined || !password ){
					 return alert('Field are empty');
				}else{
					//return alert('dinied');
					return location = '/';
				};
				};	
	</script>

	<div id="login-container">
		
			
       
		<input id="mail" type="text" value="" placeholder="E-mail"><br><br>
		<input id="password" type="password" value="" placeholder="Password"><br><br>
		<input id="btn" type="button" value="Login" onclick="doLogin()">
		<input id="btn" type="button" value="Cencel" onclick="location='/login'">
	</div>
	<div id="info">
		<p>To add account, please contact to IT department</p>
	</div>
	
</body>
</html>