<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<script>
		let doRegister = async () => {
			let mail = document.getElementById('mail').value;
			let password = document.getElementById('password').value;
			let fullname = document.getElementById('fullname').value;
			let department = document.getElementById('department').value;
			let data = { mail, password, fullname, department };
			let response = await fetch("/api/v1/admin", {
				method: "POST", // or 'PUT'
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
				})
				.then((response) => response.json())
				.then((data) => {
					// console.log("Success:", data);
					return data;
				})
				.catch((error) => {
					console.error("Error:", error);
				});

				location='/admin_table';
		};
	</script>
	<div id="admin-div">
		<div id="admin-mode">
			<p>Admin mode</p>
		</div>
		<div id="inputs">
			<input id="mail" type="text" value="" placeholder="Email"><br><br>
			<input id="password" type="text" value="" placeholder="Password"><br><br>
			<input id="fullname" value="" type="text" placeholder="Full name"><br><br>
			<select id="department" type="text">
				<option></option>
				<% enviroments.forEach(function(enviroment){ %>
					<option><%= enviroment.dep %></option>
				<% }) %>
			</select><br><br>

			<input id="btn" type="button" value="Register" onclick="doRegister()">
			<input id="btn" type="button" value="Cencel" onclick="location='#'">
		</div>	
	</div>
</body>
</html>